@font-face {
  font-family: "Montserrat";
  src: url(~/assets/fonts/Montserrat-light.ttf) format("truetype");
}

@font-face {
  font-family: "MontserratExtraBold";
  src: url(~/assets/fonts/Montserrat-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "MontserratSemiBold";
  src: url(~/assets/fonts/Montserrat-SemiBold.ttf) format("truetype");
}

html {
  font-family: "Montserrat", sans-serif;
}

.MontserratBold {
  font-family: "MontserratBold", sans-serif;
}

.montserrat-extra-bold {
  font-family: "MontserratExtraBold", sans-serif;
}

.MontserratSemiBold {
  font-family: "MontserratSemiBold", sans-serif;
}